*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./resort.jpg);
  
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat:inherit;
}

header{
    display: block;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: white;
}
.header-nav{
    display: flex;
    text-align: center;
}
.logo{
    background-image: url(./pin.jpg);
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-left: 150px;
    margin-top: 5px;
    position: relative;
}
h2{
    position: relative;
     padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6vh;}

.header-nav ul{
    display: flex;
    margin-left: 150px;
    padding: 15px;
}

.header-nav ul li{
    list-style-type: none;
    display: flex;
    font-family: 'roboto',sans-serif;
    padding:5px;
    font-weight: bold;
    margin-left: 50px;

}
.header-nav ul li a{
    text-decoration: none;
    color: black;
    padding: 3px;
}
.sb-menu1{
    display: none;
}
.header-nav ul li:hover .sb-menu1{
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 2px;
    margin-top: 25px;
    padding: 5px;
    margin-left: -11px;
    text-align: center;
}
.header-nav ul li:hover .sb-menu1 ul{
display: block;
margin: 10px;
padding: 5px;
}
.header-nav ul li:hover .sb-menu1 ul li
{
    width: 100px;
    padding: 5px;
    margin-left:15px;
    border-bottom: 1px dotted #ddd;
    border-radius: 2px;
    text-align:left;
    background: transparent;
}
.header-nav ul li:hover .sb-menu1 ul li:last-child{
    border-bottom: none;
}


.imgs{
    display: block;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-image: url(./pic1.jpg);
    

}
.txt{
    margin-top: -300px;
    font-size: 12vh;
    font-family:'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: whitesmoke;
    text-align: center;
    display: block;
}
h6{
    font-size: 3vh;
    font-family: 'roboto',sans-serif;
    
}
.sec2{
    display: inline-block;
    width: 100%;
    height: 110px;
    background-color: rgb(225, 225, 225);
    margin-top: 190px;
}
.search{
    display: block;
    margin-left: 150px;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.keyword{
    height: 25px;
    padding: 3px;
    margin-top: 8px;
    text-decoration: none;
    
    
}
.advntr{ margin-left: 380px;
    padding: 20px;
    margin-top: -105px;
    font-size: 1rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
#advanture-selector{
    height: 35px;
    width: 180px;
    margin-top: 9px;
}
.min{
    margin-left: 210px;
    padding: 20px;
    margin-top: -85px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bud1{
    height: 25px;
    width: 90px;
    padding: 3px;
    margin-top: 9px;
}
.max{
    margin-left: 350px;
    padding: 20px;
    margin-top: -102px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bud2{
    height: 25px;
    width: 90px;
    padding: 3px;
    margin-top: 8px;
}
.SEARCH-ADVENTURE{
    background-color: rgb(11, 204, 46);
    height: 40px;
    width: 200px;
    margin-left: 25px;
    border: none;
    box-shadow: 2px 2px 4px gray;
    font-family: Arial, Helvetica, sans-serif;
}
.SEARCH-ADVENTURE:hover{
    background-color: #1398e0;
}
.sec3{
    display: block;
    margin-top: -60px;
    background-color: white;
    display: block;
    position: relative;
    height: 150px;
    text-align: center
    
    
    
}
.hdng{
    padding-top: 65px;
    margin-top: 60px;
    font-weight: 100;
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 2.2rem;
    background-color: white;
}
p{
    padding: 5px;
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
.grid-img{
    display: flex;
    align-items: flex-start;
  justify-content: center;
    padding-top: 100px;
    background-color:white;
    height: 395px;
    width: 100%;
    
    
}
.b1{
    display: inline-block;
    background-image: url(./b2.jpg);
    height: 200px;
    
    color: black;
    
    margin-left: 60px;
    padding: 20px;
    width: 170px;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(214, 211, 211)
}

.b2{
    display: inline-block;
    background-image: url(./b1.jpg);
    height: 200px;
    margin-left: 60px;
    padding: 20px;
    width: 170px;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(214, 211, 211)
}

.b3{
    display: inline-block;
    background-image: url(./b3.jpeg);
    height: 200px;
    margin-left: 60px;
    padding: 20px;
    width: 170px;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(214, 211, 211)
}
.b4{
    display: inline-block;
    background-image: url(./b4.jpg);
    height: 200px;
    padding: 20px;
    margin-left: 60px;
    width: 170px;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(214, 211, 211)
}
.dtxt{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    margin-top: 10px;
    color: whitesmoke;
    
}
.material-symbols-outlined{
    margin-top: 120px;
    
}
.mount{
    height: 500px;
    width: 100%;
    display: inline-block;
}
.ttp{
    margin-top: 80px;
    display: block;
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 100;
}
p{
    font-size: 1rem;
    padding: 15px;
}

.container22 {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    color: whitesmoke;
    box-sizing: border-box;
    height: 60vh;
  }
  
  .box1 {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    
  }
  
  .box1 > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box1 > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box1:hover { flex: 1 1 50%; }
  .box1:hover > img {
    width: 100%;
    height: 100%;
  }
   
.container33{
    background-color: white;
    width: 100%;
    height: 110vh;
    text-align: center;
    display: block;
    position: relative;

}
.mpe{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 80px;
  
    
}
.mpe2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.grid-item22{
    display: flex;
    margin-top: 60px;
    flex-direction: row; 
     margin-left: 150px;
     align-items: center;
    margin-right: 20px; 
}
.s1{
    height: 120px;
    width: 200px;
    background-image: url(./diving.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 10px;
}
.s2{
    height: 120px;
    width: 200px;
    background-image: url(./wsb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 10px;
}
.s3{
    height: 120px;
    width: 200px;
    background-image: url(./fam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 10px;
}
.s4{
    height: 120px;
    width: 200px;
    background-image: url(./oldcol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 10px;
}

.grid-item23{
    display: flex;
    margin-top: 40px;
    flex-direction: row; 
     margin-left: 150px;
     align-items: center;
    margin-right: 5px; 
}
.s5{
    height: 120px;
    width: 200px;
    background-image: url(./rom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;
}
.s6{
    height: 120px;
    width: 200px;
    background-image: url(./snor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;
}
.s7{
    height: 120px;
    width: 200px;
    background-image: url(./scen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;
}
.s8{
    height: 120px;
    width: 200px;
    background-image: url(./outadv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;
}
.utxt{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top: 80px;
    
}
.body2{
    background-image: url(./body2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    margin-top: -120px;
    display: block;
    position: relative;
    
    
    
}
.newtxt{
    color: white;
   display: block;
   position: relative;
   margin-top: 120px;
   margin-left: 190px;
   
   
}
.HOT-PROMOTION{
    display: inline-block;
    margin-top: 100px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: justify;
   margin-left: 50px;
}
.playa{
    display: inline-block;
    font-size:4rem;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
.rate{
    display: inline-block;
    font-size: 1rem;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: justify;
   margin-left: 50px;

}
.book{
    margin-top: 30px;
        display: inline-block;
        background-color: rgb(11, 204, 46);
        height: 40px;
        width: 100px;
        margin-left: 25px;
        border: none;
        box-shadow: 2px 2px 4px gray;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        font-weight: bold;
  
}
.book:hover{
    background-color: #1398e0;
}
.details{display: inline-block;
    background-color: #1398e0;
        height: 40px;
        width: 100px;
        font-weight: bold;
        margin-left: 25px;
        border: none;
        box-shadow: 2px 2px 4px gray;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
}
.details:hover{
    background-color: rgb(11, 204, 46);
}
.container44{
    height: 1100px;
    width: 100%; 
   background-color:  rgb(243, 242, 242);
   text-align: center;
   display: block;
   position: absolute;
   
}
.txt12{
    display: inline-block;
     margin-top: 70px;
     font-family: 'roboto',sans-serif;
     font-size: 3rem;

}
.txt13{
    display: inline-block;
    color: gray;
    font-family: 'roboto',sans-serif;
    margin-top: 10px;
}
.grid-box{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  
}
.g1{
    background-image: url(./cartr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 160px;
    border-radius: 2px;
    
}
.cmnt{
    color: whitesmoke;
    text-align: left;
    margin-top: 230px;
    padding: 20px;
}
.g2{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 2px;
}
.txth{
    font-family: 'roboto',sans-serif
    ;
    margin-top: 50px;
    font-size: 1.7rem;
}
.txtp{
    color: gray;
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: justify;
    padding: 30px
}
.read{
    text-align: left;
    margin-left: 30px;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
}
a{color: #1398e0;
text-decoration: none;}
.read:hover{
    text-decoration: underline;
}

.g3{
    background-image: url(./fli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 2px;
    
}
.cmnt2{
    color: whitesmoke;
    text-align: left;
    margin-top: 230px;
    padding: 20px;}

.flex2{
    display: flex;
    flex-direction: row;
   margin-left: 160px;
}    
.g4{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 2px;
}
.txth1{
    font-family: 'roboto',sans-serif
    ;
    margin-top: 50px;
    font-size: 1.7rem;
}
.txtp1{
    color: gray;
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: justify;
    padding: 30px
}
.read2{
    text-align: left;
    margin-left: 30px;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
}
a{color: #1398e0;
text-decoration: none;}
.read2:hover{
    text-decoration: underline;
}
.g5{
    background-image: url(./picnic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    
    border-radius: 2px;
    
}
.cmnt3{
    color: whitesmoke;
    text-align: left;
    margin-top: 230px;
    padding: 20px;
}
.g6{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 2px;
    margin-left: 760px;
    margin-top: -350px;
    
}
.txth2{
    font-family: 'roboto',sans-serif;
    margin-top: 50px;
    font-size: 1.7rem;
}
.txtp2{
    color: gray;
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: justify;
    padding: 30px
}
.read3{
    text-align: left;
    margin-left: 30px;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
}
a{color: #1398e0;
text-decoration: none;}

.read3:hover{
    text-decoration: underline;
 
}
